* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --overlay-background: rgba(0,0,0,0.7);
    --gallery-background: rgb(71, 71, 71);
    --outline-color: #fff;
}

.portrait-overlay {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: var(--overlay-background);
    backdrop-filter: blur(5px);
    /* transition: all .1s ease; */
}

.portrait-overlay.hidden {
    display: none;
    transition: all .1s ease;
}

.portrait-overlay button {
    position: absolute;
    right: 3rem;
    top: 3rem;
    background-color: transparent;
    color: tomato;
    border: none;
    cursor: pointer;
}

body {
    overflow-y: scroll;
    position: relative;
}

.gallery-container {
    /* position: relative; */
    width: 100vw;
    background-color: var(--gallery-background);
    padding: 5rem auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gallery-container img {
    width: 400px;
    height: 400px;
    margin: 1rem;
    cursor: pointer;
    outline: 5px solid var(--outline-color);
    outline-offset: 5px;
    transition: all .2s ease-in-out;
}

.gallery-container img.show {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
    height: 900px;
    margin: 1rem;
    outline: none;
    transition: none;
    z-index: 10;
}

.gallery-container img:hover {
    width: 420px;
    height: 420px;
}

.gallery-container img.show:hover {
    width: 800px;
    height: 900px;
    cursor: default;
}