@import url('https://fonts.googleapis.com/css2?family=Arvo&family=IM+Fell+English+SC:wght@400&family=Mate+SC&family=Merienda:wght@400;700&family=Poppins:wght@100;200&family=Roboto:wght@100&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(56, 232, 238);
  --primary-color-two: rgba(56, 232, 238, .5);
  --secondary-color: rgb(218, 169, 146);
  --tertiary-color: rgb(22, 150, 200);
  --text-color-black: rgb(22, 21, 21);
  --text-color-white: #fff;
  --shadow-color: rgba(0,0,0,0.5);
  --mixed-color: #A0B3A5;
  --hover-color: rgb(39, 26, 219);
  --background-color-light: rgb(190, 241, 224);
  --background-color-white: #fff;
  --background-color-dark: rgb(34, 34, 34);
  --background-dark-one: rgb(0, 20, 136);
  --text-color-dark-blue: rgb(0, 20, 136);
  --background-light-one: rgb(177, 94, 233);
  --background-light-two: rgb(209, 171, 235);
  --tick-green: rgb(39, 240, 12);
  --tick-green-dark: rgb(26, 124, 14);
  --background-light-green: rgb(194, 251, 194);
  --background-color-purple: rgb(157, 174, 248);
  --background-orange: rgb(245, 186, 77);
  --background-blue: rgb(77, 150, 245);
  --text-color-darkgrey: rgb(70, 68, 68);
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}


/* HERO SECTION START */

.header {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      var(--primary-color-two), var(--secondary-color)
    ),
    url(/images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-heading {
  font-family: 'Mate SC', sans-serif;
  font-size: 4.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 5px;
  position: relative;
  top: -5%;
  color: var(--text-color-black);
}

.main-heading a {
  text-decoration: none;
}

.main-heading a span {
  color: var(--tertiary-color);
  font-size: 8rem;
  transition: all .1s linear;
}

.main-heading a span:hover {
  font-size: 10rem;
  transform: rotate(90deg);
}

.main-heading a span:active {
  font-size: 6rem;
}

.sub-heading {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 100;
  opacity: 0.8;
  letter-spacing: 1.5px;
}

.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  box-shadow: 0 0 10px var(--shadow-color);
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
  opacity: 1;
  transition: all .2s ease;
}

.header-nav.resize {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  box-shadow: 0 0 10px var(--shadow-color);
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 50;
  opacity: 1;
}

.logo-black {
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.header-nav.active .logo-black {
  cursor: pointer;
  width: 150px;
  height: 150px;
}

.header-nav .nav-tools {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  list-style-type: none;
  font-family: 'Mate SC', sans-serif;
}

.nav-tools li {
  margin-left: 40px;
  font-size: 1.3rem;
}

.header-nav.active .nav-tools li {
  font-size: 1rem;
}

.nav-tools li.active {
  font-size: 1.5rem;
}

.header-nav.active .nav-tools li.active {
  font-size: 1.3rem;
}

.nav-tools li.active:hover {
  transform: scale(1);
}

.nav-tools li:hover {
  transform: scale(1.2);
  transition: all .1s ease-in-out;
}

.nav-tools li.active a {
  color: var(--hover-color);
}

.nav-tools li a {
  text-decoration: none;
  color: var(--text-color-black);
}

.nav-tools li a:hover {
  color: var(--hover-color);
}

/* HERO SECTION END */

/* SERVICES SECTION START */

.services-section {
  position: relative;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--background-color-light);
}

.services-section h1 {
  position: absolute;
  text-align: center;
  top: 8rem;
  font-family: 'Mate SC', sans-serif;
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--tertiary-color);
}

.services-content {
  display: flex;
  justify-content: space-evenly;
}

.service {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  overflow: hidden;
  margin: 10rem 3rem 0 3rem;
  box-shadow: 2px 5px 10px var(--shadow-color);
  border-radius: 15px;
}

.more {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 500px;
  margin-top: 10rem;
  box-shadow: 2px 5px 10px var(--shadow-color);
  border-radius: 0 0 15px 15px;
  background-color: var(--background-color-white);
  transform: translateY(100%);
  transition: all .3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more p {
  text-align: center;
  font-size: 1.2rem;
  padding: 20px 25px;
  margin-top: 50px;
}

.more.show {
  transform: translateY(0);
}

.more .close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  right: 20px;
  top: 20px;
  cursor: pointer;
  background-color: transparent;
}

.more .continue-btn {
  background-color: var(--tertiary-color);
  color: var(--text-color-white);
  padding: 15px 20px;
  position: absolute;
  bottom: 40%;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.more .continue-btn:hover {
  background-color: var(--primary-color);
  color: var(--text-color-black);
}

.service header {
  width: 100%;
  height: 150px;
  max-height: 150px;
  text-align: center;
  padding: 40px 30px;
  font-size: 2rem;
  background-color: var(--tertiary-color);
  color: var(--text-color-white);
  font-family: inherit;
  border-radius: 15px 15px 0 0 ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service .content {
  width: 100%;
  padding: 30px 50px 0 50px;
  background-color: var(--background-color-white);
  height: 100%;
  border-radius: 0 0 15px 15px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.more-btn {
  position: absolute;
  bottom: 80px;
  border: none;
  border-radius: 15px;
  padding: 15px 20px;
  font-size: 1.1rem;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all .3s ease;
}

.more-btn:hover {
  background-color: var(--secondary-color);
}

.more-btn:active {
  transform: scale(.8);
}

/* SERVICES SECTION END */


/* GALLERY SECTION START */

.gallery-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-dark);
  overflow: hidden;
}

.gallery-section h1 {
  font-family: 'Mate SC', sans-serif;
  color: var(--secondary-color);
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 5px;
  margin-bottom: 5rem;
}

.gallery-categories {
  width: 100%;
  margin: 10rem 10rem 0 10rem;
  display: flex;
  flex-wrap: wrap;

}

.gallery-categories .img-div {
  width: 350px;
  height: 350px;
  margin: 2rem 100px 0 100px;
  position: relative;
}

.img-div h4 {
  position: absolute;
  right: 60px;
  top: 10px;
  color: var(--primary-color);
  font-size: 1.2rem;
}

.img-div .img {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 10px;
  left: 20px;
  outline: 5px solid var(--secondary-color);
  outline-offset: 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.img-div .img:hover {
   width: 160px;
  height: 160px;
   outline: 8px solid var(--secondary-color);
   outline-offset: 8px;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;
}

.img-div .img:nth-child(2) {
  top: 50px;
  left: 150px;
}

.img-div .img:nth-child(3) {
  left: 50px;
  top: 180px;
}

.img-div .img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.img-div .img img:hover {
  width: 160px;
  height: 160px;
}

.img-div button {
  background-color: var(--primary-color);
  color: var(--text-color-black);
  position: absolute;
  bottom: 50px;
  right: 15px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  font-size: 0.7rem;
  font-family: 'Arvo', sans-serif;
  font-weight: 300;
  text-align: center;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.img-div button a {
  text-decoration: none;
  color: var(--text-color-black);
}

.img-div button:hover {
  background-color: var(--secondary-color);
}

/* GALLERY SECTION END */

/* EVENTS SECTION START */

.events-container {
  position: relative;
  width: 100vw;
  height: 110vh;
  background-color: var(--background-color-white);
}

.events-container h1 {
  position: absolute;
  text-align: center;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Mate SC', sans-serif;
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--hover-color);
}

.events {
  width: 90%;
  position: absolute;
  top: 12rem;
  left: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem 5rem;
}

.events .event {
  width: 300px;
  height: 100px;
  padding: 10px 20px;
  background-image: linear-gradient(
    to bottom,
    var(--background-dark-one), var(--background-light-one));
  margin: 2rem;
  color: var(--text-color-white);
  font-family: 'IM Fell English SC', sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 2px 15px 30px var(--text-color-dark-blue);
}

.event button {
  background-color: var(--background-dark-one);
  border: none;
  color: var(--text-color-white);
  padding: 5px 15px;
  border-radius: 15px;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
}

.event-prices {
  visibility: hidden;
  position: absolute;
  top: -2rem;
  left: 13.7rem;
  width: 1450px;
  height: 780px;
  border: 2px solid var(--text-color-dark-blue);
  background-image: linear-gradient(
    to bottom,
    var(--background-dark-one), var(--background-light-one));;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all .1s ease-in-out;
    box-shadow: 2px 5px 20px var(--text-color-dark-blue);

}

.event-prices.close {
  animation: closePrice .3s forwards;
}

@keyframes closePrice {
  0% {
    width: 1450px;
    height: 780px;
  }

  100% {
    width: 0;
    height: 0;
  }
}

.event-prices.show {
  visibility: visible;
  z-index: 5;
  cursor: auto;
  transition: all .5s ease-in-out;
  animation: showPrice .2s forwards;
}

@keyframes showPrice {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 1450px;
    height: 780px;
  }
}

.event-prices button {
  position: absolute;
  right: 5rem;
  top: 2.5rem;
  color: var(--text-color-dark-blue);
  background-color: var(--background-color-white);
  z-index: 10;
}



.price-card {
  background-color: var(--background-color-white);
  color: var(--text-color-dark-blue);
  padding: 50px;
  text-align: center;
  width: 400px;
  max-width: 100%;
  height: 500px;
  border-radius: 80px 5px 80px 5px;
  position: relative;
  box-shadow: 0 5px 10px var(--shadow-color);
}

.price-card h2 {
 font-size: 4rem;
 margin-top: -20px;
}

.price-card h4 {
  font-size: 1.5rem;
  margin: 1rem auto;
}

.price-card ul {
  list-style-type: none;
  margin: 1rem auto;
  font-size: 1.1rem;
  font-family: 'Avro', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: space-evenly;
  width: 250px;
  position: relative;
}

.price-card ul li {
  margin: 5px auto;
  display: flex;
  justify-content: space-evenly;
}

.price-card ul li i {
  background-color: var(--tick-green);
  border-radius: 50%;
  color: var(--text-color-dark-blue);
  position: absolute;
  left: -1rem;
}

.event-rate {
  text-align: center;
  background-color: var(--background-dark-one);
  color: var(--text-color-white);
  width: 180px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
 display: inline-block;
 border-radius: 0 20px 0 20px;
 font-size: 1.2rem;
 font-family: "Poppins", sans-serif;
 box-shadow: 0 5px 10px var(--shadow-color);
}

/* EVENTS SECTION END */

/* LEARNING SECTION START */

.learning-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-light-green);
  position: relative;
}

.learning-container h1 {
  text-align: center;
  margin-bottom: 1rem;
  padding: 7rem 3rem 3rem 3rem;
  font-size: 4rem;
  font-family: 'Mate SC', sans-serif;
  color: var(--text-color-dark-blue);
  letter-spacing: 4px;
  font-weight: 500;
}

.package-container {
  margin-top: -2rem;
  display: flex;
}

.package {
  margin: 3rem auto;
  background-image: linear-gradient(to right bottom, var(--background-color-white) 50%, var(--background-color-purple) 50%);
  width: 30%;
  max-width: 100%;
  height: 600px;
  border-radius: 30px;
  padding: 20px 30px;
  position: relative;
  box-shadow: 0 5px 10px var(--shadow-color);
}

.package h2 {
  text-align: center;
  margin: 2rem;
  font-family: 'Avro', serif;
  font-weight: 200;
  font-size: 2.5rem;
  color: var(--text-color-dark-blue);
}

.package h6 {
  text-align: center;
  font-size: 1.2rem;
}

.package ul {
  list-style-type: none;
  margin: 2rem 1rem;
  position: relative;
}

.package ul li {
  margin-bottom: 1rem;
  display: flex;
}

.package ul li i {
  margin-right: 2rem;
  color: var(--tick-green-dark);
}

.package .learning-package-price {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: .5rem 1rem;
  background-color: var(--background-color-white);
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color-dark-blue);
  box-shadow: 0 5px 10px var(--shadow-color);
  cursor: pointer;
}

/* LEARNING SECTION END */

/* ABOUT US SECTION START */

.about-us-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 80vh;
  background-image: linear-gradient(to right top, var(--background-orange) 50%, var(--background-blue) 50%);
}

.about-us-container h1 {
  position: absolute;
  top: 4rem;
  text-align: center;
  color: var(--text-color-white);
  font-family: 'Mate SC', sans-serif;
  font-size: 4rem;
}

.about-us-container button {
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: var(--background-blue);
  color: var(--text-color-white);
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
}

.about-us-container .feedback-left-btn {
  left: 21.4%;
}

.about-us-container .feedback-right-btn {
  background-color: var(--background-orange);
  right: 21.4%;
}

.feedback-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 500px;
  overflow: hidden;
  border: 1px solid var(--text-color-white);
  background-color: rgba(0,0,0,0.5);
  margin-top: 5rem;
  border-radius: 20px 20px 30% 30%;
}

.feedback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  transform: translateX(100%);
  transition: all .3s linear;
}

.feedback.show {
  transform: translateX(0);
}

.feedback .client-details {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.text-feedback {
  text-align: center;
  padding: 50px;
  font-size: 1.2rem;
  font-family: 'Noto Serif', sans-serif;
  font-weight: 400;
  color: var(--text-color-white);
}

.client-img img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.client-name {
  font-size: 2rem;
  color: var(--text-color-white);
}

/* ABOUT US SECTION END */

/* HIRE US SECTION START */

.hire-us-container {
  background-color: var(--background-blue);
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hire-us-container h1 {
  color: var(--text-color-white);
  font-family: 'Mate SC', sans-serif;
  font-size: 4rem;
  margin: 5rem 0 2rem 0;
}

.hire-us-container h3 {
  color: var(--text-color-white);
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  margin: 2rem 0 4rem 0;
}

.form-container {
  width: 90vw;
  background-color: var(--shadow-color);
  border-radius: 15px;
  padding: 40px 80px 80px 80px;
  display: flex;
  height: 550px;
  position: relative;
  border: 1px solid var(--text-color-white);
}

.form-container .request-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.form-container form * {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  color: var(--text-color-white);
  font-size: 1.5rem;
}

.form-container form > input {
  color: var(--text-color-blue);
  font-family: "Avro", sans-serif;
}

.form-container form > input::placeholder {
  font-size: 1.2rem;
}

.form-container form > input:focus {
  outline: none;
}

.form-container textarea {
  resize: none;
  padding: 30px 10px 30px 20px;
  border-radius: 15px;
  color: var(--text-color-black);
  font-family: "Avro", sans-serif;
}

.form-container textarea:focus {
  outline: none;
}

.request-form input[type=submit] {
  background-color: var(--background-color-white);
  color: var(--text-color-dark-blue);
  border: none;
  padding: 10px 25px;
  font-family: 'Mate SC', sans-serif;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  transition: all .1s ease-in-out;
  border-radius: 15px;
}

.request-form input[type=submit]:hover {
  background-color: var(--background-blue);
  color: var(--text-color-white);
}

/* HIRE US SECTION END */

/* CONTACT SECTION START */

.contact-container {
  width: 100vw;
  height: 60vh;
  background-color: var(--background-color-white);
  position: relative;
  display: flex;
}

.contact-container h1 {
  color: var(--text-color-darkgrey);
  font-family: 'Mate SC', sans-serif;
  font-size: 3rem;
  padding: 2rem 0 2rem 0;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.contact-container h6 {
  color: var(--text-color-darkgrey);
  margin-top: 150px;
  font-weight: 100;
  font-size: 1rem;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.contact-container .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  height: 400px;

}

.address-details {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-evenly;
}

.physical-address, .contact-number, .contact-mail {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
}

.physical-address span {
  font-size: 1rem;
  font-weight: 700;
}

.physical-address i, .contact-number i, .contact-mail i {
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--tick-green-dark);
}

.about-company {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.about-company h2 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 1rem;
}

.about-company h4 {
  font-weight: 200;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--text-color-darkgrey);
}

.social-media {
  width: 300px;
  margin-left: 1rem;
}

.social-media ul {
  list-style-type: none;
  text-align: center;
  padding: 30px;
}

.social-media ul li {
  font-size: 1.3rem;
  text-align: left;
  margin: 15px auto;
}

.social-media ul li i {
  margin-right: 1rem;
}

.social-media ul li a{
  text-decoration: none;
  color: var(--text-color-darkgrey);
  transition: all .2s ease-in-out;
}

.social-media .facebook:hover{
 color: #4267B2;
}

.social-media .instagram:hover {
  color: #8a3ab9;
 }

 .social-media .twitter:hover{
  color: #1DA1F2;
 }

 .social-media .whatsapp:hover{
  color: #25D366;
 }

.social-media .linkedin:hover{
  color: #0077b5;
 }

/* CONTACT SECTION END */

.hidden {
  display: none;
}

.menu-btn {
  display: none;
}

.mobile-menu .nav-tools {
  display: none;
}

/* RESPONSIVE DESIGN FOR MOBILE START */
@media screen and (max-width: 480px) {

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
  /* HEADER SECTION START */

  .header {
    height: 70vh;
  }

  .main-heading {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .5px;
    line-height: 1px;
    position: relative;
    top: -5%;
    color: var(--text-color-black);
  }

  .main-heading a span {
    font-size: 4.5rem;
  }

  .main-heading a span:hover {
    font-size: 6rem;
  }

  .sub-heading {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 200;
    opacity: 0.8;
    letter-spacing: 1.5px;
  }

  .header-nav {
    width: 100vw;
    height: 50px;
  }


  .logo-black {
    width: 150px;
    height: 150px;
    cursor: pointer;
  }

  .header-nav.active .logo-black {
    width: 150px;
    height: 150px;
  }

  .header-nav .nav-tools {
    display: none;
  }

  .menu-btn {
    display: block;
    margin-right: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu .nav-tools {
    display: block;
    background-color: var(--primary-color);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 0 15px;
    list-style-type: none;
    width: 40vw;
    height: 50vh;
    position: fixed;
    z-index: 10;
    text-align: center;
    right: 0;
    transform: translateX(100%);
    transition: all .3s ease-in-out;
  }

  .mobile-menu .nav-tools.active {
    animation: showMenu .2s linear;
    transform: translateX(0);
  }

  @keyframes showMenu {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .nav-tools li {
    margin: 42px;
    font-size: 1.2rem;
  }

  .header-nav.active .nav-tools li {
    font-size: 1rem;
  }

  /* HEADER SECTION END */


  /* SERVICES SECTION START */

  .services-section {
    height: 135vh;
    padding: 1rem 0 1rem 0;
  }

  .services-section h1 {
    top: 2rem;
    font-size: 3.5rem;
  }

  .services-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

  .service {
    flex-wrap: wrap;
    flex-direction: column;
    width: 300px;
    height: 350px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .more {
    top: -20px;
    left: 0;
    width: 100%;
    height: 300px;
    margin-top: 5rem;
  }

  .more p {
    text-align: center;
    font-size: 1rem;
    padding: 20px 25px;
    margin-top: 25px;
  }

  .more .close-btn {
    width: 20px;
    height: 20px;
    right: 20px;
    top: 10px;
  }

  .more .continue-btn {
    padding: 10px 15px;
    bottom: 10%;
    border-radius: 10px;
  }

  .service header {
    width: 100%;
    height: 20px;
    padding: 30px 20px;
    font-size: 1.4rem;
  }

  .service .content {
    width: 100%;
    padding: 50px;
    background-color: var(--background-color-white);
    height: 300px;
    border-radius: 0 0 15px 15px;
    font-size: 1.1rem;
    position: absolute;
    top: 60px;
  }

  .more-btn {
    bottom: 50px;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: .9rem;
  }

  /* SERVICES SECTION END */

  /* GALLERY SECTION START */

.gallery-section {
  height: 240vh;
}

.gallery-section h1 {
  font-size: 4rem;
}

.gallery-categories {
  margin: 10rem auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.gallery-categories .img-div {
  width: 300px;
  height: 300px;
  margin: 3rem auto;
}

.img-div h4 {
  right: 50px;
  top: 30px;
  font-size: 1rem;
}

.img-div .img {
  width: 120px;
  height: 120px;
  top: 10px;
  left: 30px;
}

.img-div .img:nth-child(2) {
  top: 100px;
  left: 150px;
}

.img-div .img:nth-child(3) {
  left: 50px;
  top: 150px;
}

.img-div button {
  bottom: 10px;
  right: 5px;
  padding: 8px;
  border-radius: 10px;
  z-index: 15;
}

/* GALLERY SECTION END */

/* EVENTS SECTION START */

.events-container {
  height: 190vh;
}

.events-container h1 {
  width: 100%;
  font-size: 3rem;
}

.events {
  width: 100%;
  top: 9rem;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 250px);
  margin: 1rem auto;
}

.events .event {
  width: 220px;
  height: 150px;
  padding: 20px;
  margin: 1rem;
  font-size: .8rem;
  text-align: center;
  border-radius: 30px;
}

.event button {
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 1rem;
}

.event-prices {
  visibility: hidden;
  top: -2rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

.event-prices.close {
  animation: closePrice .1s forwards;
}

@keyframes closePrice {
  0% {
    width: 500px;
    height: 200vh;
  }

  100% {
    width: 0;
    height: 0;
  }
}

.event-prices.show {
  visibility: visible;
  z-index: 5;
  cursor: auto;
  transition: all .5s ease-in-out;
  animation: showPrice .1s forwards;
}

@keyframes showPrice {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 500px;
    height: 150vh;
  }
}

.event-prices button {
  right: 2rem;
  top: 1.5rem;
}

.price-card {
  transform: translateY(12%);
  margin-bottom: 2rem;
  padding: 30px;
  width: 350px;
  height: 450px;
}

.price-card h2 {
 font-size: 3rem;
}

.price-card h4 {
  font-size: 1.2rem;
}

.price-card ul {
  text-align: center;
  font-size: 1rem;
  width: 250px;
}

.price-card ul li {
  margin: 8px auto;
}

.price-card ul li i {
  left: .5rem;
}

.event-rate {
  width: 160px;
  bottom: 20px;
  transform: translateX(-50%);
 font-size: 1rem;
}

/* EVENTS SECTION END */

/* LEARNING SECTION START */

.learning-container {
  height: 195vh;
}

.learning-container h1 {
  margin-bottom: 0;
  padding: 2rem;
  font-size: 3.5rem;
}

.package-container {
  flex-direction: column;
}

.package {
  margin: 2rem auto;
  width: 80%;
  max-width: 100%;
  height: 500px;
}

.package:nth-child(2) {
  height: 600px;
}

.package:nth-child(3) {
  height: 650px;
}

.package h2 {
  font-size: 2rem;
}

.package h6 {
  font-size: 1rem;
}

/* LEARNING SECTION END */

/* ABOUT US SECTION START */

.about-us-container {
  height: 60vh;
}

.about-us-container h1 {
  top: 1.5rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.about-us-container button {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.about-us-container .feedback-left-btn {
  left: 5%;
}

.about-us-container .feedback-right-btn {
  right: 6%;
}

.feedback-container {
  width: 400px;
  height: 420px;
  margin-top: 1rem;
}

.text-feedback {
  padding: 25px;
  font-size: 1rem;
}

.client-img img {
  width: 100px;
  height: 100px;
}

.client-name {
  font-size: 1.2rem;
}

/* ABOUT US SECTION END */

/* HIRE US SECTION START */

.hire-us-container {
  height: 125vh;
}

.hire-us-container h1 {
  font-size: 2.5rem;
  margin: 2rem 0 1rem 0;
}

.hire-us-container h3 {
  font-size: 1.5rem;
  margin: 1rem 0 1.5rem 0;
}

.form-container {
  width: 90vw;
  padding: 10px;
  flex-direction: column;
  height: 80%;
}

.form-container form * {
  flex-direction: flex;
  margin: .5rem;
  font-size: 1.3rem;
}

.input-field-label {
  display: flex;
justify-content: space-between;
  width: 100%;
  padding: 0 30px 0 20px;
}

.input-field-label:nth-child(6) {
 display: flex;
 align-items: center;
 justify-content: center;
}


.input-field-label label {
  transform: translateY(25%);
}

.input-field-label input {
  color: var(--text-color-black);
  font-family: "Avro", sans-serif;
  border-radius: 10px;
  padding: 10px;
}

.input-field-label > input::placeholder {
  font-size: 1rem;
  color: var(--shadow-color);
}

.input-field-label > input:focus {
  outline: 2px black solid;
  border-radius: 10px;
}

.form-container textarea {
  width: 100%;
  height: 400px;
  resize: none;
  padding: 30px;
}

.form-container textarea:focus {
  outline: 2px black solid;
  border-radius: 10px;
}

.request-form input[type=submit] {
  position: absolute;
  margin-top: 1rem;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* HIRE US SECTION END */

/* CONTACT SECTION START */

.contact-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.contact-container h1 {
  font-size: 2rem;
}

.contact-container h6 {
  font-size: 1rem;
  margin-bottom: 2.5rem;
  bottom: 0;
}

.contact-container .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 80%;
  margin: 2rem auto;
}

.address-details {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  margin: 1rem auto;
  padding-bottom: 2rem;
  border-bottom: 5px solid rgba(91, 79, 168, 0.089);
}

.physical-address, .contact-number, .contact-mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.contact-mail h3 a {
  font-size: 1rem;
  color: #0f97e0;
  text-decoration: underline;
  cursor: pointer;
}

.physical-address span {
  font-size: 1rem;
  font-weight: 700;
}

.physical-address i, .contact-number i, .contact-mail i {
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--tick-green-dark);
}

.about-company {
  margin: 2rem;
}

.about-company h2 {
  font-weight: 600;
  text-align: center;
  margin-bottom: .1rem;
}

.about-company h4 {
  font-weight: 200;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.1rem;
  color: var(--text-color-darkgrey);
}

.social-media {
  border-top: 5px solid rgba(91, 79, 168, 0.089);
  width: 100%;
  margin: 1rem auto;
}

.social-media .list {
  width: 100%;
  margin: 1.5rem auto;
}

.social-media ul li {
  font-size: 1.1rem;
  text-align: center;
}

.social-media ul li i {
  margin-right: 1rem;
}

/* CONTACT SECTION END */

}

/* RESPONSIVE DESIGN FOR MOBILE END */
